# Backend API and WebSocket Endpoints for Production / Cloud
# Replace with your deployed Render backend URL or localhost:8080

VITE_API_URL=https://youtube-watch-party-r2gl.onrender.com/api
VITE_WS_URL=wss://youtube-watch-party-r2gl.onrender.com/ws/party
